@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.weather__container {
  border: 2px solid #0ed1f3;
  border-radius: 20px;
}

.weather__title {
  background-image: linear-gradient(90deg, #5361e3, #c918da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  outline-offset: 3px;
  padding: 10px 15px;
  border-color: #06b6d4;
  color: #fff;
  box-shadow: 0 0 40px 40px #06b6d4 inset, 0 0 0 0 #06b6d4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}

.btn:hover {
  color: #333;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #0ed1f3;
}

.react-tabs__tab--selected {
  outline: none;
  color: #333;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #fb923c;
}

.weather__change__input {
  padding: 11px 15px;
  border: none;
  outline: 2px solid #fb923c;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.weather__info {
  padding: 10px 15px;
  outline: 2px solid #0ed1f3;
  border-radius: 10px;
}

.weather__info:not(:last-child) {
  margin-bottom: 20px;
}